p {
    margin: 0;
    padding: 0;
}

.display-ticket {
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 7em;
    gap: 20px;
}

.btn-normal {
    font-size: 2rem;
}